/*Styling my id result to enhance it appear in a block format*/

#result {
  display: block;
}


/*Styling the body*/

body {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 20vh;
}
